webOSTV.js
webOSTV-dev.js
shaka.js
**/node_modules
**/dist
**/platformAssets
**/rnv-cli/platformTemplates
**/platformBuilds
**/public
**/bundle.js
test/examples/*.js
**/platformTemplates
**/pluginsTemplates
**/projectTemplate
**/projectTemplates
**/pluginTemplates
**/supportFiles
packages/rnv/tests
packages/app/e2e-cypress
packages/app/src
packages/app/e2e
jest.config.*.js
