# OSX
#
.DS_Store

# Xcode
#
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android Studio
#
*.iml

# node.js
#
node_modules/
dist
lib

# NPM
npm-debug.log

# Yarn
yarn-error.log

# Lerna
lerna-debug.log

index/

# BUCK
buck-out/
\.buckd/

# Visual Studio
#
.vscode/*
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# Testing
/packages/**/coverage
/packages/**/dist
/packages/**/lib

# Expo
.expo
coverage

# RN Windows Engine
.binlog
packages/**/*.binlog


coverage-ts
.watchman-cookie-*

# Next
.next

# ReNative
.rnv
/packages/**/platformBuilds
/packages/**/platformAssets
renative.private.json
renative.local.json
renative.local.json
renative.build.json
renative.runtime.json
rnv-config.local.json
metro.config.local.js
/packages/**/.bundle
/packages/**/vendor/
/packages/**/reporting/








