lib
dist
node_modules
.expo
.next
.vscode

appConfigs
platformBuilds
platformAssets
renative.local.json
renative.private.json
renative.build.json
renative.runtime.json
rnv-config.local.json
metro.config.local.js

coverage
build

.vercel