lib
dist
node_modules
.expo
.next
.vscode

appConfigs/**/*
platformBuilds
platformAssets
renative.build.json
metro.config.local.js

!/**/*/renative.json
!/**/*/rnv.json

coverage
build

.vercel

allure-results
pluginTemplates
templateFiles/**/*
!/**/*/*.json
*.d.ts
/.nx/workspace-data