/* your custom css */

.wrapper {
  max-width: 900px;
}

/* .navigationSlider {
    height: 44px;
} */

.darkBackground {
background-color: #282c34
}

.darkBackground a {
    color: #FFFFFF;
}

.projectLogo {
  justify-content: center;
}

.homeContainer {
    background-color: #282c34
}

.fixedHeaderContainer {
  background-color: #20232a;
  min-height: 60px;
  padding: 13px 0;
}

.headerTitle {
  font-size: 72px;
  margin-top: 1em
}

.platformsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.platformItem {
  height: 180px;
  margin: 20px;
}

.platformItemText {
  justify-content: center;
  font-weight: 600;
  text-align: center;
  display: block;
}

.projectTitle {
    color: #FFFFFF;

}

.logoImage {
  width: 200px;
}

.imageAlignSide .blockImage {
    max-width: 300px;
}

.buttonDark {
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    padding: 10px;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: background 0.3s, color 0.3s;
}

.buttonDark:hover {
    color: #FB8E62;
}

a:hover {
  color: #FB8E62;
}

.beta {
  position: absolute;
  top: 60px;
  right: 0px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (max-width: 1023px) {
  .beta {
    position: absolute;
    top: 100px;
    right: 0px;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
