
                @font-face {
                    font-family: 'AntDesign';
                    src: url('/fonts/AntDesign.ttf');
                }

            
                @font-face {
                    font-family: 'Entypo';
                    src: url('/fonts/Entypo.ttf');
                }

            
                @font-face {
                    font-family: 'EvilIcons';
                    src: url('/fonts/EvilIcons.ttf');
                }

            
                @font-face {
                    font-family: 'Feather';
                    src: url('/fonts/Feather.ttf');
                }

            
                @font-face {
                    font-family: 'FontAwesome';
                    src: url('/fonts/FontAwesome.ttf');
                }

            
                @font-face {
                    font-family: 'Foundation';
                    src: url('/fonts/Foundation.ttf');
                }

            
                @font-face {
                    font-family: 'Ionicons';
                    src: url('/fonts/Ionicons.ttf');
                }

            
                @font-face {
                    font-family: 'MaterialCommunityIcons';
                    src: url('/fonts/MaterialCommunityIcons.ttf');
                }

            
                @font-face {
                    font-family: 'MaterialIcons';
                    src: url('/fonts/MaterialIcons.ttf');
                }

            
                @font-face {
                    font-family: 'Octicons';
                    src: url('/fonts/Octicons.ttf');
                }

            
                @font-face {
                    font-family: 'TimeBurner';
                    src: url('/fonts/TimeBurner.ttf');
                }

            
                @font-face {
                    font-family: 'Zocial';
                    src: url('/fonts/Zocial.ttf');
                }

            